<div class="play-list">
    <div class="advertise-panel">
        <div class="panel">
            <img src="https://i.scdn.co/image/ab67706f000000035654f5615b2aec45465d0fd2" class="profile" />
            <div class="about">
                <h2 class="play-list-meta">Play List</h2>
                <h1 class="play-list-title">White Noise</h1>
                <h2 class="defination">Welcome to the shooting hum...</h2>
                <div class="sub-defination">
                    <a [routerLink]="['/routePath']" class="owner" >Spotify</a>
                    <span class="like-count">421.123 like</span>
                    <span class="song-count">86 song, 3h 50m</span>
                </div>
            </div>
        </div>

    </div>
    <div class="song-player">
        <button class="btn-play">
            <svg-icon src="assets/icons/icon/play-card.svg"></svg-icon>
        </button>
        <button class="btn-like">
            <svg-icon src="assets/icons/icon/heart-fill.svg"></svg-icon>
        </button>
        <button class="btn-more">
            <svg-icon src="assets/icons/icon/3dot.svg"></svg-icon>
        </button>
    </div>
    <div class="song-list">
        
    </div>
</div>