$dark:#000000;
$gray:#B3B3B3;
$white:#FFFFFF;
$active-dark:#282828;
$progress:#535353;
$soft-dark:#121212;
$topbar-button-active:#333333;
$rock:#EB1E32;
$pop:#C3F0C8;
$electronic:#9BF0E1;
$jazz:#A0C3D2;
$white-noise:#97AAA5;
$spotify-color:#1DB954;
$active-white:rgb(255,255,255,.1);
$light-dark:#EFEFEF;




