<div class="now-playing-bar">
    <div class="now-playing-bar-left">
        <div class="song-profile"></div>
        <div class="song-info">
            <a href="/" class="player-song-title">DEUTSCHLAND</a>
            <a href="/" class="player-song-artist">Rammstein</a>
        </div>
        <div class="song-action">
            <button class="favorite">
                <svg-icon src="assets/icons/icon/heart.svg"></svg-icon>
            </button>
        </div>
    </div>
    <div class="now-playing-bar-center">
        <div class="player-controls-buttons">
            <button class="control-button-shuffle">
                <svg-icon src="assets/icons/icon/shuffle.svg"></svg-icon>
            </button>
            <button class="control-button-skipback">
                <svg-icon src="assets/icons/icon/skip-back.svg"></svg-icon>
            </button>
            <button class="control-button-play">
                <svg-icon src="assets/icons/icon/play.svg"></svg-icon>
            </button>
            <button class="control-button-skip-forward">
                <svg-icon src="assets/icons/icon/skip.svg"></svg-icon>
            </button>
            <button class="control-button-repeat">
                <svg-icon src="assets/icons/icon/repeat.svg"></svg-icon>
            </button>
        </div>
        <div class="player-controls-playback">
            <div class="playback-progress-time-left">1:42</div>
            <div class="playback-progress-bar">
                <div class="progress-bar-bg">
                    <div class="progress-bar-fg"></div>
                </div>
            </div>
            <div class="playback-progress-time-right">3:08</div>
        </div>
    </div>
    <div class="now-playing-bar-right">

        <button class="control-button-queue">
            <svg-icon src="assets/icons/icon/queue.svg"></svg-icon>
        </button>
        <button class="control-button-devices">
            <svg-icon src="assets/icons/icon/devices.svg"></svg-icon>
        </button>
        <button class="control-button-volume">
            <svg-icon src="assets/icons/icon/speaker.svg"></svg-icon>
        </button>
        <div class="volume-bar">
        </div>

    </div>
</div>