@import "variables";

.now-playing-bar {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.now-playing-bar-left {
  display: flex;
  align-items: center;
}

.now-playing-bar-right {
  height: 32px;
  width: 212px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 14px;
}

.now-playing-bar-right {
  button {
    margin-left: 8px;
    margin-right: 8px;
  }

  svg {
    height: 16px;
    width: 16px;
  }
}

.song-profile {
  height: 56px;
  width: 56px;
  background-image: url("https://i.scdn.co/image/ab67616d0000485102add2c77fb6999e311a3248");
}

.song-info {
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.player-song-title,
.player-song-artist,
.playback-progress-time-right,
.playback-progress-time-left {
  text-decoration: none;
  font-family: "Circular Std Book", Helvetica, sans-serif;
}

.player-song-title {
  font-size: 14px;
  color: $white;
}

.player-song-artist {
  font-size: 12px;
  color: $gray;
}

.now-playing-bar-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 60px;
  width: 520px;
}
.player-controls-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 224px;
  height: 32px;

  button {
    height: 24px;
    width: 24px;
  }

  .control-button-play {
    height: 32px;
    width: 32px;
  }
}

.player-controls-playback {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playback-progress-bar {
  width: 440px;
  border-radius: 50%;
}

.progress-bar-bg {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: $progress;
  border-radius: 4px;

  .progress-bar-fg {
    position: absolute;
    left: 20%;
    height: 4px;
    left: 0;
    width: 20%;
    background-color: $gray;
    border-radius: 4px;
  }
  
}

.volume-bar {
  height: 4px;
  width: 90px;
  background-color: $gray;
  border-radius: 2px;
  position: relative;

  .handle{
    position: absolute;
    opacity: 0;
    right: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 6px;
  }

  &:hover{
    background-color: $spotify-color;

    .handle{
      opacity: 1;
      transform: translateY(-50%);
    }

  }
  

}

.playback-progress-time-right,
.playback-progress-time-left {
  font-size: 12px;
  width: 40px;
  text-align: center;
  color: $gray;
}
