@import "variables";

.sidebar{
    grid-area: sidebar;
    background-color: $dark;
}

.topbar{
    grid-area: topbar;
    background-color: $dark;
}

.player{
    grid-area: player;
    background-color: $dark;
}
.main{
    grid-area: main;
    background-color: $active-dark;
}