<div class="artist">
    <div class="advertise-panel">
        <div class="about">
            <h2 class="artist-meta"><svg-icon class="blue-thick" src="assets/icons/icon/blue-thick.svg"></svg-icon> Verified Artist</h2>
            <h1 class="artist-title">Eminem</h1>

            <div class="sub-defination">
                <span class="like-count">26.421.123 listeners mounthly</span>
            </div>
        </div>
    </div>
    <div class="song-player">
        <button class="btn-play">
            <svg-icon src="assets/icons/icon/play-card.svg"></svg-icon>
        </button>
        <button class="btn-like">
            <svg-icon src="assets/icons/icon/heart-fill.svg"></svg-icon>
        </button>
        <button class="btn-more">
            <svg-icon src="assets/icons/icon/3dot.svg"></svg-icon>
        </button>
    </div>
    <div class="song-list">
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
        <app-song-item></app-song-item>
    </div>

</div>