<nav>
    <div class="logo">
        <a [routerLink]="['/']" class="brand">
            <svg-icon src="assets/icons/icon/spotify.svg"></svg-icon>
        </a>
    </div>

    <div class="actions">
        <a [routerLink]="['/']" class="button" [ngClass]="{'active':pathValues.length==0}">
            <svg-icon class="icon" src="assets/icons/icon/home.svg"></svg-icon>
            <svg-icon class="icon-fill" src="assets/icons/icon/home-fill.svg"></svg-icon>
            <span>Home</span>
        </a>

        <a [routerLink]="['/search']" class="button" [ngClass]="{'active':pathValues[0]=='search'}">
            <svg-icon class="icon" src="assets/icons/icon/search.svg"></svg-icon>
            <svg-icon class="icon-fill" src="assets/icons/icon/search-fill.svg"></svg-icon>
            <span>Search</span>
        </a>

        <a [routerLink]="['/collections/playlists']" class="button" [ngClass]="{'active':pathValues[0]=='collections'}">
            <svg-icon class="icon" src="assets/icons/icon/collection.svg"></svg-icon>
            <svg-icon class="icon-fill" src="assets/icons/icon/collection-fill.svg"></svg-icon>
            <span>Collections</span>
        </a>

    </div>
    <div class="play-lists">
        <h2 class="title">Play Lists</h2>
        <div class="actions">


            <a [routerLink]="['/']" class="button">

                <svg-icon src="assets/icons/icon/add.svg" class="add-play-list"></svg-icon>
                <span>Cerate Play List</span>
            </a>

            <a [routerLink]="['/']" class="button">
                <svg-icon src="assets/icons/icon/heart-fill.svg" class="fill-gradient"></svg-icon>
                <span>Loved Songs</span>
            </a>
        </div>
        <hr class="root_divider">
        <div class="play-lists-items actions">

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>The Rock That You Know</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>White Noise</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Rain Sounds</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Classical Music for Reading</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Nature Sounds</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Global Viral 50</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Violin Covers</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Anadolu Rock</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Türkçe Rock</span>
            </a>
            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>The Rock That You Know</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>White Noise</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Rain Sounds</span>
            </a>

            <a [routerLink]="['/playlist/rock1nm23']" class="play-list-item">
                <span>Classical Music for Reading</span>
            </a>

        </div>
    </div>

</nav>