<nav>
    <div class="logo">
        <a [routerLink]="['/']" class="brand">
            <svg-icon src="assets/icons/icon/spotify.svg"></svg-icon>
        </a>
    </div>

    <div class="actions">


        <a [routerLink]="['/']" class="button active">

            <svg-icon src="assets/icons/icon/home.svg"></svg-icon>
            <span>Home</span>
        </a>

        <a [routerLink]="['/']" class="button">
            <svg-icon src="assets/icons/icon/search.svg"></svg-icon>
            <span>Search</span>
        </a>


        <a [routerLink]="['/']" class="button">
            <svg-icon src="assets/icons/icon/collection.svg"></svg-icon>
            <span>Collections</span>
        </a>

    </div>
    <div class="play-lists">
        <h2 class="title">Play Lists</h2>
        <div class="actions">


            <a [routerLink]="['/']" class="button">

                <svg-icon src="assets/icons/icon/add.svg" class="add-play-list"></svg-icon>
                <span>Cerate Play List</span>
            </a>

            <a [routerLink]="['/']" class="button">
                <svg-icon src="assets/icons/icon/heart-fill.svg" class="fill-gradient"></svg-icon>
                <span>Loved Songs</span>
            </a>
        </div>
        <hr class="root_divider">
        <div class="play-lists-items actions">

            <a [routerLink]="['/']" class="play-list-item">
                <span>Cerate Play List</span>
            </a>

            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
            
            <a [routerLink]="['/']" class="play-list-item">
                <span>Loved Songs</span>
            </a>
        </div>
    </div>

</nav>