@import "variables";

.home-container {
  height: 100%;
  overflow-y: scroll;

  padding-left: 32px;
  padding-right: 32px;

  .recommended {
    margin-bottom: 32px;
  }

  .title {
    font-size: 24px;
    font-family: "Circular Std Book", Helvetica, sans-serif;
    color: $white;
    display: inline-block;
  }

  .content {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;

    // & > app-album-card {
    //   margin-right: 16px;
    //   margin-bottom: 16px;
    // }
  }

  .container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-x: scroll;
    gap: 24px;
    scroll-behavior: smooth;
  }
}

.genre {
  color: $white;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: $white;
  }
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .see-all {
    font-family: "Circular Std Bold", Helvetica, sans-serif;
    display: inline-block;
    color: $gray;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: $gray;
    }
  }
}

.btn-scroll {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: $light-dark;

  svg {
    width: 40px;
    height: 40px;
    path {
      stroke: black;
    }
  }
}

.slider {
  position: relative;
  height: 220px;
  width: 100%;

  .left {
    left: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  .right {
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }
}
