<div class="home-container">

    <div class="recommended">
        <div class="headline">
            <h2 class="title"><a href="/recent-searchs" class="genre">Recent Searchs</a></h2>
            <a href="/recent-searchs" class="see-all">See All</a>
        </div>
        <div class="content">
            <app-album-card></app-album-card>
            <app-album-card></app-album-card>
            <app-album-card></app-album-card>
            <app-album-card></app-album-card>
            <app-album-card></app-album-card>
        </div>
    </div>
    <div class="recommended">
        <div class="headline">
            <h2 class="title">Most Listened Genres</h2>
        </div>
        <div class="slider" >
            <button (click)="left()" class="btn-scroll left" [ngClass]="{hide: !isShowLeft}">
                <svg-icon src="assets/icons/icon/smaller.svg"></svg-icon>
            </button>
            <div class="container" #container>
                <app-genre-card></app-genre-card>
                <app-genre-card></app-genre-card>
                <app-genre-card></app-genre-card>
                <app-genre-card></app-genre-card>
                <app-genre-card></app-genre-card>
            </div>
            <button (click)="right()" class="btn-scroll right"  [ngClass]="{hide: isShowLeft}">
                <svg-icon src="assets/icons/icon/greater.svg"></svg-icon>
            </button>
        </div>
    </div>
    <div class="recommended">
        <div class="headline">
            <h2 class="title">Look all of them</h2>
        </div>
        <div class="content">

            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>

            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>

            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>

            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
            <app-genre-card [isLittle]="true"></app-genre-card>
        </div>
    </div>

</div>