<div class="top-bar">
    <div class="nav-buttons">
        <button class="btn-radius btn-nav-previous">
            <svg-icon src="assets/icons/icon/smaller.svg"></svg-icon>
        </button>
        <button class="btn-radius btn-nav-next">
            <svg-icon src="assets/icons/icon/greater.svg"></svg-icon>
        </button>
    </div>
    <div class="top-bar-lits">
        <div class="actions">
            <a [routerLink]="['/']" class="button active">
                <span>Play Lists</span>
            </a>
            <a [routerLink]="['/']" class="button">

                <span>Podcasts</span>
            </a>
            <a [routerLink]="['/']" class="button">
                <span>Artists</span>
            </a>
            <a [routerLink]="['/']" class="button">
                <span>Albums</span>
            </a>

        </div>
    </div>
    <div class="search-bar">

    </div>
    <button class="user-profile">
        <img src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=943549079124781&height=300&width=300&ext=1604404117&hash=AeRt2JCL8sdUhbhh"
            class="profile" alt="User Profile">
        <span class="user-name">Yuri Gagarin</span>
        <span class="down-icon">
            <svg-icon src="assets/icons/icon/down.svg"></svg-icon>
        </span>
    </button>
</div>