<div class="top-bar-container">
    <div class="nav-buttons">
        <button class="btn-radius btn-nav-previous">
            <svg-icon src="assets/icons/icon/smaller.svg"></svg-icon>
        </button>
        <button class="btn-radius btn-nav-next">
            <svg-icon src="assets/icons/icon/greater.svg"></svg-icon>
        </button>
    </div>
    <div class="top-bar-lists" *ngIf="pathValues[0]=='collections'">
        <div class="actions">
            <a [routerLink]="['/collections/playlists']" [ngClass]="{'active':pathValues[1]=='playlists'}"  class="button">
                <span>Play Lists</span>
            </a>
            <a [routerLink]="['/collections/podcasts']" [ngClass]="{'active':pathValues[1]=='podcasts'}"  class="button">
                <span>Podcasts</span>
            </a>
            <a [routerLink]="['/collections/artists']" [ngClass]="{'active':pathValues[1]=='artists'}" class="button">
                <span>Artists</span>
            </a>
            <a [routerLink]="['/collections/albums']" [ngClass]="{'active':pathValues[1]=='albums'}" class="button">
                <span>Albums</span>
            </a>
        </div>
    </div>

    <div class="search-bar-container" *ngIf="pathValues[0]=='search'">
        <div class="search-bar">
            <span class="icon-search">
                <svg-icon src="assets/icons/icon/search.svg"></svg-icon>
            </span>
            <input type="text" class="search-bar-text" placeholder="Search Artists, Songs or Podcasts">
        </div>
    </div>


    <button class="user-profile">
        <img src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=943549079124781&height=300&width=300&ext=1604404117&hash=AeRt2JCL8sdUhbhh"
            class="profile" alt="User Profile">
        <span class="user-name">Yuri Gagarin</span>
        <span class="down-icon">
            <svg-icon src="assets/icons/icon/down.svg"></svg-icon>
        </span>
    </button>
</div>