@import "variables";

@font-face {
  font-family: "Circular Bold";
  src: url("/assets/fonts/Circular Std Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Circular Book";
  src: url("/assets/fonts/Circular Std Book.ttf");
  font-weight: 400;
}

::-webkit-scrollbar {
  background-color: $dark;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
}

::-webkit-input-placeholder{
  text-align: left;
}

html,
body {
  margin: 0;
}

$main-heigt: calc(100vh - 150px);
$main-width: calc(100vw - 232px);

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 232px $main-width;
  grid-template-rows: 60px $main-heigt 90px;
  grid-template-areas:
    "sidebar topbar"
    "sidebar main"
    "player player";
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  &:focus {
    outline-style: none;
  }
}

.btn-radius{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}